:root {
  --brand-color: #2196f3;
  --brand-font-size: "Roboto";
}
.body {
  font-family: var(--brand-font-size), "sans-serif";
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}
a:hover,
a:focus {
  color: var(--brand-color);
}
a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-bottom: 95px 0;
}

.container-paragraph {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px auto;
  padding: 95px 0px;
}

.title-web-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-align: right;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-header {
  border-bottom: 1px solid #ececec;
}
.header {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 80px;
}
/* pagina estudio */
/*ventana modal*/
.data-modal-open {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--brand-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
}
.data-modal-open:hover {
  background-color: var(--brand-color);
}
.data-modal-open:focus {
  background-color: var(--brand-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.form {
  position: relative;
}

.data-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-solutions {
  position: relative;
}

.box-solutions [data-modal] {
  position: absolute;
  top: calc(50% - 290.5px);
  left: calc(50% - 264px);
}

.box-solutions .data-modal-open.is-active .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
. nav ul li a {
  border-bottom: 3px solid transparent;
  padding: 32px 0;
}
nav ul li a:hover {
  border-bottom-color: var(--brand-color);
  border-radius: 2px;
}
.menu {
  display: flex;
}
.link-menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  font-weight: 500px;
}

.link-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.link-menu-studio-head {
  font-family: var(--brand-font-size), "sans-serif";
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #757575;
}
.link-menu-studio-head:hover,
.link-menu-studio-head:active {
  fill: var(--brand-color);
  color: var(--brand-color);
}
.link-menu-studio-head-svg {
  color: currentColor;
  fill: #757575;
}
.link-menu-studio-head-svg:hover {
  fill: var(--brand-color);
  color: var(--brand-color);
}

.link-menu-studio {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  margin: 10px;
}

.link-menu-studio:hover,
.link-menu-studio:focus,
.link-menu-studio:active {
  color: var(--brand-color);
}
.title-solutions {
  margin: 25px;
  width: 700px;
}

.box-solutions {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
    url(../images/images17.jpg);

  gap: 50px;
}
.container-paragraph {
  list-style: none;
  margin: 0 auto;
  display: flex;
  padding: 95px 0px;
}
.paragraph {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 90px) / 4);
}
.paragrah-label {
  display: flex;
  gap: 30px;
}
.paragraph-svg {
  fill: solid, #757575;
  background-color: #f5f4fa;
}

.what-are-we-dedicated {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  justify-content: center;
  align-items: center;
  padding-bottom: 94px;
}
.what-are-we-dedicated-images {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}
.title-h2 {
  font-size: 36px;
}
.our-team {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 94px 0px;
}
.our-team-p {
  font-weight: 400;
  padding-bottom: 30px;
  padding-right: 44px;
  padding-left: 44px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.our-team-image {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.14) 0px 1px 1px,
    rgba(0, 0, 0, 0.2) 0px 2px 1px;
  left: 208px;
  top: 1696px;
  display: inline-block;
  padding-bottom: 30px;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
  align-items: center;
  gap: 30px;
}
.social-media-our-team-l {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.social-media-our-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 2px solid white;
  border-radius: 1px;
}
.social-media-our-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.svg-our-team {
  fill: rgb(175, 177, 184);
  width: 20x;
  height: 20px;
}

.social-media-our-team:hover {
  border-color: var(--brand-color);
  width: 40px;
  height: 40px;
}

.container-Regular-customers {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #afb1b8;
  justify-content: center;
  height: 372px;
  padding: 59px 215px 151px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.Regular-customers-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  gap: 30px;
  margin: 21px 64px;
}
.svg-regular-customers {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  gap: 50px;
}

.Regular-customers-icons:hover,
.Regular-customers-icons:focus,
.Regular-customers-icons:active {
  fill: var(--brand-color);
}
.svg-regular-customers:hover {
  border-color: var(--brand-color);
}

.address {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-information {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  background: #2f303a;
  padding-left: 215px;
}
.footer-picture {
  align-items: center;
  height: 294px;
  width: 370px;
  display: table;
  fill: url(../images/images1.jpg);
  position: relative;
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
.footer-picture p {
  font-family: var(--brand-font-size), "sans-serif";
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: normal;
  display: table-caption;
  text-align: center;
  width: 370px;
  height: 70px;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  margin: 0px;
  padding: 27px 79px;
}

/* pagina portafolio */
.button-my-potfolio {
  justify-content: center;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  padding-top: 106px;
}

.button-portfolio {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  border: none;
  padding: 6px 24px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: white;
}
.button-portfolio.current {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
}

.button-portfolio.current:hover,
.button-portfolio.current:focus {
  background-color: var(--brand-color);
  color: white;
}

.button-portfolio.current {
  background-color: var(--brand-color);
  color: white;
}

.link-menu,
.link-menu:visited {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
}
.link-menu:hover,
.link-menu:focus {
  color: var(--brand-color);
}

.link-menu.current {
  color: var(--brand-color);
}

.container-portfolio {
  column-gap: 20px;
  list-style: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 32 px;
  width: 1200px;
}
.portfolio {
  display: flex;
  justify-content: space-between;
}
.portfolio-elements {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  display: inline-block;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  cursor: pointer;
  width: 370 px;
  border: 1px solid #eeeeee;
}
.portfolio-elements:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 4px 4px rgba(0, 0, 0, 0.16), 1px 4px;
}
.card {
  position: absolute;
  top: 0;
  height: 294px;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  letter-spacing: 0.03 em;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-elements:hover .card,
.portfolio-elements:focus .card {
  transform: translateY(0%);
}

.portfolio-elements-paragrah {
  padding: 20px 24px;
}
.card-image {
  position: relative;
  overflow: hidden;
}

.img-portfolio {
  max-width: 100%;
  height: auto;
  display: block;
}

.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
}
.menu-found-at {
  fill: solid, #ffffff;
  justify-content: center;
  display: flex;
}
.icon-found-at:hover {
  fill: solid, #ffffff;
  background-color: var(--brand-color);
  border-radius: 300%;
}

.list-found-at {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  fill: solid #ffffff;
}

.icon-found-at {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
}

h1 {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-top: 30px;
}
h2 {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
p {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
